.header {
    width: 100%;
    padding: 16px 0;
    background-color: #0d0d0d;
    display: flex;
    margin: 0 auto;

    .headerInner {
        width: 70%;
        display: flex;
        color: white;
        margin: 0 auto;
        padding-bottom: 20px;
        justify-content: center;
        flex-direction: column;
    }
}

.body {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;

    .bodyLeft {
        display: flex;
        margin-right: 12px;
        width: 69%;

        .bodyLeftItem {
            padding: 0 20px;
            padding-bottom: 20px;
            border: 1px solid #D1D8C5;
            margin-bottom: 20px;

            .itemList {
                display: flex;
                padding: 0px;
                margin: 0 auto;
                justify-content: space-between;
                column-gap: 27px;
                font-size: 14px;
                flex-wrap: wrap;
                list-style-type: none;
            }
        }
    }

    .bodyRight {
        width: 300px;
        height: 600px;
        margin-left: 3px;
        box-shadow: 0px 4px 10px rgb(192 210 235 / 50%);
    }
}